In [146]:
import pandas as pd
import requests
import json
import os

In [1]:
token = os.environ ['MSTEAMS']

NameError: name 'os' is not defined

In [113]:
url='https://coast.hhla.de/api/execute-report/Standard-Report-Segelliste'

In [114]:
r = requests.get(url)

data = r.json()
pd.DataFrame(data)

In [115]:
data = json.loads(r.text) # wandelt den Text des Abruf in eine g√ºltige json datrei um

In [116]:
pd.json_normalize(data['resultTables'][0]['rows'][0])

                                   columnId                      value
0     schiffabfertigung.abfahrtistzeitpunkt  2022-10-24T02:40:00+02:00
1    schiffabfertigung.abfahrtsollzeitpunkt  2022-10-24T06:00:00+02:00
2     schiffabfertigung.ankunftistzeitpunkt  2022-10-23T19:00:00+02:00
3    schiffabfertigung.ankunftsollzeitpunkt  2022-10-23T19:00:00+02:00
4             schiffabfertigung.exportreise                     233232
5                schiffabfertigung.funkcode                      DFGL2
6             schiffabfertigung.importreise                       None
7     schiffabfertigung.jahresschiffsnummer                     233232
8     schiffabfertigung.ladebeginnzeitpunkt  2022-10-23T23:35:00+02:00
9       schiffabfertigung.ladeendezeitpunkt  2022-10-24T01:30:00+02:00
10  schiffabfertigung.loeschbeginnzeitpunkt                       None
11    schiffabfertigung.loeschendezeitpunkt                       None
12            schiffabfertigung.schiffsname                      BEATE
13             schiffabfertigung.schiffstyp                     FEEDER
14               schiffabfertigung.terminal                        CTB

In [117]:
zeilen = data ['resultTables'][0]['totalNumberOfRows']

In [118]:
df_liste = []

In [119]:
for id in range(0,zeilen):
    einzel_df = pd.json_normalize(data['resultTables'][0]['rows'][id]).T
    einzel_df.columns = einzel_df.iloc[0]
    einzel_df = einzel_df[1:]
    df_liste.append(einzel_df)

In [120]:
df_komplett = pd.concat (df_liste)

In [121]:
df_komplett

columnId,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
value,2022-10-24T02:40:00+02:00,2022-10-24T06:00:00+02:00,2022-10-23T19:00:00+02:00,2022-10-23T19:00:00+02:00,233232,DFGL2,None,233232,2022-10-23T23:35:00+02:00,2022-10-24T01:30:00+02:00,None,None,BEATE,FEEDER,CTB
value,2022-10-31T06:00:00+01:00,2022-10-31T06:00:00+01:00,2022-10-30T22:30:00+01:00,2022-10-30T23:00:00+01:00,233258,DFGL2,233258,233258,2022-10-30T23:55:00+01:00,2022-10-31T01:30:00+01:00,2022-10-30T23:50:00+01:00,2022-10-31T01:00:00+01:00,BEATE,FEEDER,CTB
value,None,2022-11-14T10:00:00+01:00,None,2022-11-14T07:00:00+01:00,233411,DFGL2,233411,233411,None,None,None,None,BEATE,FEEDER,CTB
value,2022-11-07T06:30:00+01:00,2022-11-07T06:00:00+01:00,2022-11-07T01:20:00+01:00,2022-11-07T01:30:00+01:00,233319,DFGL2,233319,233319,2022-11-07T02:55:00+01:00,2022-11-07T03:30:00+01:00,2022-11-07T01:30:00+01:00,2022-11-07T03:00:00+01:00,BEATE,FEEDER,CTB
value,2022-11-01T14:55:00+01:00,2022-11-01T14:30:00+01:00,2022-10-31T17:00:00+01:00,2022-10-31T17:00:00+01:00,233321,8PTT,233321,233321,2022-11-01T08:40:00+01:00,2022-11-01T14:45:00+01:00,2022-11-01T07:15:00+01:00,2022-11-01T08:40:00+01:00,SAMSKIP CHALLENGER,FEEDER,CTB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
value,None,2022-11-16T11:00:00+01:00,None,2022-11-16T09:00:00+01:00,NOE-1668157104227,DDTC,NOE-1668157104227,32262118,None,None,None,None,TAUCHER O. WULF 3,BARGE,CTT
value,None,2022-11-16T12:00:00+01:00,None,2022-11-16T07:00:00+01:00,NOE-1668157167388,LAUK,NOE-1668157167388,32262119,None,None,None,None,LAUK,BARGE,CTT
value,None,2022-11-15T22:00:00+01:00,None,2022-11-15T07:00:00+01:00,113N,V2QC8,113S,32262077,None,None,None,None,ANNALISA P,FEEDER,CTT
value,None,2022-11-22T22:00:00+01:00,None,2022-11-22T07:00:00+01:00,114N,V2QC8,114S,32262078,None,None,None,None,ANNALISA P,FEEDER,CTT
value,None,2022-11-29T22:00:00+01:00,None,2022-11-29T07:00:00+01:00,115N,V2QC8,115S,32262079,None,None,None,None,ANNALISA P,FEEDER,CTT

In [122]:
df_komplett.sort_values(by='schiffabfertigung.ankunftsollzeitpunkt', inplace=True)

In [123]:
df_komplett = df_komplett.reset_index()

In [124]:
df_komplett

columnId,index,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
0,value,2022-10-14T03:10:00+02:00,2022-10-14T05:51:00+02:00,2022-10-14T01:00:00+02:00,2022-10-14T02:58:00+02:00,NOE-1665460820331,FRANC,NOE-1665460820331,32261926,None,None,2022-10-14T02:03:38+02:00,2022-10-14T02:49:05+02:00,BCF FRANC,BARGE,CTT
1,value,2022-10-14T20:40:00+02:00,2022-10-14T21:00:00+02:00,2022-10-14T03:10:00+02:00,2022-10-14T03:00:00+02:00,233112,5BKY2,233112,233112,2022-10-14T07:50:00+02:00,2022-10-14T19:40:00+02:00,2022-10-14T03:10:00+02:00,2022-10-14T18:30:00+02:00,JUDITH,FEEDER,CTB
2,value,2022-10-14T09:30:00+02:00,2022-10-14T09:00:00+02:00,2022-10-14T06:45:00+02:00,2022-10-14T07:00:00+02:00,233176,DB2700,233176,233176,2022-10-14T08:05:00+02:00,2022-10-14T09:25:00+02:00,2022-10-14T07:20:00+02:00,2022-10-14T08:05:00+02:00,BCF GLUECKAUF,BARGE,CTB
3,value,2022-10-14T14:00:00+02:00,2022-10-14T14:00:00+02:00,2022-10-14T05:45:00+02:00,2022-10-14T07:00:00+02:00,233123,CQEF7,233123,233123,2022-10-14T07:45:00+02:00,2022-10-14T11:30:00+02:00,2022-10-14T07:10:00+02:00,2022-10-14T10:00:00+02:00,ELBSUN,FEEDER,CTB
4,value,2022-10-14T18:00:00+02:00,2022-10-14T17:57:00+02:00,2022-10-14T06:50:00+02:00,2022-10-14T07:00:00+02:00,NOE-1665562719007,LAUK,NOE-1665562719007,32261932,2022-10-14T09:23:35+02:00,2022-10-14T17:45:55+02:00,2022-10-14T07:28:34+02:00,2022-10-14T16:20:18+02:00,LAUK,BARGE,CTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,value,None,None,None,2023-01-10T05:30:00+01:00,050E,VRNV5,050W,32262101,None,None,None,None,CSCL PACIFIC OCEAN,DEEPSEA,CTT
849,value,None,None,None,2023-01-11T00:00:00+01:00,209E,CQEB,209E,32262105,None,None,None,None,BUXCOAST,DEEPSEA,CTT
850,value,None,None,None,2023-01-13T00:00:00+01:00,023E,VRRE2,023W,32262099,None,None,None,None,COSCO SHIPPING TAURUS,DEEPSEA,CTT
851,value,None,2023-01-14T06:02:00+01:00,None,2023-01-13T06:02:00+01:00,None,VRFX5,None,330012,None,None,None,None,COSCO JAPAN,DEEPSEA,CTB
852,value,None,2023-01-19T23:00:00+01:00,None,2023-01-16T07:00:00+01:00,None,V7HL6,None,330006,None,None,None,None,LINAH,DEEPSEA,CTB

In [125]:
df_komplett['schiffabfertigung.schiffstyp'].value_counts()

FEEDER     389
DEEPSEA    274
BARGE      190
Name: schiffabfertigung.schiffstyp, dtype: int64

In [126]:
df_komplett['schiffabfertigung.ankunftsollzeitpunkt'] = pd.to_datetime(df_komplett['schiffabfertigung.ankunftsollzeitpunkt'])

In [128]:
df_deepsea

columnId,index,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
6,value,2022-10-17T12:40:00+02:00,2022-10-17T12:30:00+02:00,2022-10-14T07:40:00+02:00,2022-10-14 07:00:00+02:00,075E,VRHM7,075W,32261392,2022-10-15T06:13:28+02:00,2022-10-17T03:01:37+02:00,2022-10-14T00:39:25+02:00,2022-10-17T02:49:59+02:00,CSCL STAR,DEEPSEA,CTT
7,value,2022-10-21T18:30:00+02:00,2022-10-21T18:00:00+02:00,2022-10-14T08:30:00+02:00,2022-10-14 08:30:00+02:00,1202004E,3E2429,1202004W,232345,2022-10-17T19:45:00+02:00,2022-10-21T18:15:00+02:00,2022-10-15T01:20:00+02:00,2022-10-21T14:30:00+02:00,EVER ACT,DEEPSEA,CTB
19,value,2022-10-17T03:05:00+02:00,2022-10-17T03:00:00+02:00,2022-10-14T20:20:00+02:00,2022-10-14 21:00:00+02:00,2239E,D5EG8,2230W,32261573,2022-10-15T10:58:32+02:00,2022-10-17T02:10:19+02:00,2022-10-14T23:52:12+02:00,2022-10-16T22:28:25+02:00,TOKYO BAY,DEEPSEA,CTT
22,value,2022-10-16T14:00:00+02:00,2022-10-16T14:00:00+02:00,2022-10-15T05:35:00+02:00,2022-10-15 05:30:00+02:00,074W,3ENA9,073E,202226,2022-10-15T11:05:00+02:00,2022-10-16T12:40:00+02:00,2022-10-15T08:15:00+02:00,2022-10-16T04:05:00+02:00,NYK METEOR,DEEPSEA,CTA
26,value,2022-10-17T11:00:00+02:00,2022-10-17T11:00:00+02:00,2022-10-15T10:15:00+02:00,2022-10-15 10:00:00+02:00,006W,D5AD8,005E,202221,2022-10-15T15:55:00+02:00,2022-10-17T06:00:00+02:00,2022-10-15T12:00:00+02:00,2022-10-17T00:40:00+02:00,TIRUA,DEEPSEA,CTA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,value,None,None,None,2023-01-10 05:30:00+01:00,050E,VRNV5,050W,32262101,None,None,None,None,CSCL PACIFIC OCEAN,DEEPSEA,CTT
849,value,None,None,None,2023-01-11 00:00:00+01:00,209E,CQEB,209E,32262105,None,None,None,None,BUXCOAST,DEEPSEA,CTT
850,value,None,None,None,2023-01-13 00:00:00+01:00,023E,VRRE2,023W,32262099,None,None,None,None,COSCO SHIPPING TAURUS,DEEPSEA,CTT
851,value,None,2023-01-14T06:02:00+01:00,None,2023-01-13 06:02:00+01:00,None,VRFX5,None,330012,None,None,None,None,COSCO JAPAN,DEEPSEA,CTB
852,value,None,2023-01-19T23:00:00+01:00,None,2023-01-16 07:00:00+01:00,None,V7HL6,None,330006,None,None,None,None,LINAH,DEEPSEA,CTB

In [127]:
df_deepsea = df_komplett[df_komplett['schiffabfertigung.schiffstyp']== 'DEEPSEA']

In [129]:
import datetime

In [130]:
import pytz

In [131]:
utc=pytz.UTC

In [132]:
heute = utc.localize(datetime.datetime.now())

In [133]:
df_deepsea[df_deepsea['schiffabfertigung.ankunftsollzeitpunkt'] > heute]

columnId,index,schiffabfertigung.abfahrtistzeitpunkt,schiffabfertigung.abfahrtsollzeitpunkt,schiffabfertigung.ankunftistzeitpunkt,schiffabfertigung.ankunftsollzeitpunkt,schiffabfertigung.exportreise,schiffabfertigung.funkcode,schiffabfertigung.importreise,schiffabfertigung.jahresschiffsnummer,schiffabfertigung.ladebeginnzeitpunkt,schiffabfertigung.ladeendezeitpunkt,schiffabfertigung.loeschbeginnzeitpunkt,schiffabfertigung.loeschendezeitpunkt,schiffabfertigung.schiffsname,schiffabfertigung.schiffstyp,schiffabfertigung.terminal
581,value,None,2022-11-12T06:00:00+01:00,None,2022-11-11 14:00:00+01:00,2239W,PCDQ,2239E,202632,2022-11-11T19:00:00+01:00,None,None,None,ESPOIR,DEEPSEA,CTA
590,value,None,2022-11-13T22:30:00+01:00,None,2022-11-11 23:00:00+01:00,033E,VROO4,033W,202437,2022-11-11T23:00:00+01:00,None,None,None,YM WHOLESOME,DEEPSEA,CTA
591,value,None,2022-11-12T12:00:00+01:00,None,2022-11-11 23:00:00+01:00,2245E,V2DO9,2244W,233432,None,None,None,None,NEUENFELDE,DEEPSEA,CTB
603,value,None,2022-11-14T23:00:00+01:00,None,2022-11-12 10:00:00+01:00,2239E,DGWD2,2339W,202550,2022-11-12T15:00:00+01:00,None,None,None,NAGOYA EXPRESS,DEEPSEA,CTA
608,value,None,2022-11-13T23:00:00+01:00,None,2022-11-12 19:00:00+01:00,245S,D5ME4,242N,232745,None,None,None,None,JAZAN,DEEPSEA,CTB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,value,None,None,None,2023-01-10 05:30:00+01:00,050E,VRNV5,050W,32262101,None,None,None,None,CSCL PACIFIC OCEAN,DEEPSEA,CTT
849,value,None,None,None,2023-01-11 00:00:00+01:00,209E,CQEB,209E,32262105,None,None,None,None,BUXCOAST,DEEPSEA,CTT
850,value,None,None,None,2023-01-13 00:00:00+01:00,023E,VRRE2,023W,32262099,None,None,None,None,COSCO SHIPPING TAURUS,DEEPSEA,CTT
851,value,None,2023-01-14T06:02:00+01:00,None,2023-01-13 06:02:00+01:00,None,VRFX5,None,330012,None,None,None,None,COSCO JAPAN,DEEPSEA,CTB
852,value,None,2023-01-19T23:00:00+01:00,None,2023-01-16 07:00:00+01:00,None,V7HL6,None,330006,None,None,None,None,LINAH,DEEPSEA,CTB

In [134]:
df_deepsea_abheute = df_deepsea[df_deepsea['schiffabfertigung.ankunftsollzeitpunkt'] > heute]

In [140]:
new_str = [str(x) for x in df_deepsea_abheute15['schiffabfertigung.schiffsname']]
new_str

['ESPOIR',
 'YM WHOLESOME',
 'NEUENFELDE',
 'NAGOYA EXPRESS',
 'JAZAN',
 'YM WISH',
 'EVER AIM',
 'COSCO SHIPPING SOLAR',
 'HMM ROTTERDAM',
 'ONE HANNOVER',
 'QUEBEC EXPRESS',
 'FENJA',
 'OOCL KOBE',
 'COSCO SHIPPING NEBULA',
 'OOCL RAUMA']

In [143]:
import pymsteams

In [144]:
text = ', '.join(new_str) # macht aus einer Liste einen String

In [145]:
myTeamsMessage = pymsteams.connectorcard(token)
myTeamsMessage.text(text)
myTeamsMessage.send()

True